html{
    scroll-behavior:smooth;
}
body{
    width:100%;
    height:100%;
    margin: 0% 0% 0% 0%;
    font-family: 'Montserrat', sans-serif;
    overflow-x:hidden;
}
.container{
    height:100vh;
    width:100vw;
}
.navbar{
    z-index:1;
    position:fixed;
    width:100%;
    top:0;
    transition: background 0.5s ease;
    background-color:(0,0,0,0);

    display:flex;
    justify-content:flex-end;
}
.navbar a{
    width:60px;
    padding:1.75em;
    padding-left:3em;
    padding-right:3em;
    text-align:center;
    text-decoration:none;
    color:black;
}
.navbar a:hover{
    background-color:white;
}

.intro{
    height:100%;
    margin:0% 0% 0% 0%;
    /* background-color:black; */
    background-image:url('../images/IMG_1334 (1).jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 25%;
    
    font-size:50px;
}

.intro h1{
    margin:0% 0% 0% 0%;
}
.headtext{
    transform:translate(50%, 100%);
}

.scroller {
    height: 1.2em;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    width:10em;
}
.scroller>span {
    position: absolute;
    top: 0;
    animation: slide 6s infinite;
    font-weight: bold;
}

@keyframes slide {
    5% {top: -1.2em;}
    12% {top: -2.4em;}
    17% {top: -3.6em;}
    22% {top: -4.8em;}
    27% {top: -6.0em;}
    29% {top: -7.2em;}
    100% {top: 0em;}
}
#showcase{
    background-color: rgb(238, 230, 211);
    height:100vh;
}

