footer{
    height:15vh;
    width:100%;
    
    display:flex;
    justify-content:space-around;
}

.footer-links{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:2vh;
}

.footer-links a{
    text-decoration:none;
    color:black;
}

.contact{
    display:flex;
    flex-direction:column;
    justify-content:center;

    gap:1vh;
}

.contact h3,a{
    font-size:16px;
    font-weight:normal;
    text-decoration:none;
    color:black;
}

.copyright{
    font-size:10px;
    text-align:center;
}